<div class="skill-header">
    <img src="/assets/hammer.png" alt="">
    <h1>
        SKILL
    </h1>
</div>
<div class="content-container">
    <div class="content">
        <h2>
            Front End
        </h2>
        <p>
            HTML
        </p>
        <p>
            CSS
        </p>
        <p>
            Javasctipt
        </p>
        <p>
            Angular
        </p>
    
        <app-slider [slidersData]="slidesFe"></app-slider>
        
        <h2>Back End</h2>
        <p>
            Microsoft SQL Server
        </p>
        <p>
            Oracle PL/SQL
        </p>
        <p>
            Java
        </p>
        <p>
            C#
        </p>
        <p>
            .NET
        </p>
        <p>
            SpringBoot
        </p>
        <app-slider [slidersData]="slidesBE"></app-slider>
    </div>
    <div class="other-tools">
        <h2>Other Skill</h2>
        <app-accordeon></app-accordeon>
    </div>
</div>