<div class="contact-container">
    <div class="header-contact">
        <h2>Contact Me</h2>
        <div>X</div>
    </div>
    <p>
        <a href="https://www.linkedin.com/in/yudhoprameswara" target="_blank">
            <img src="/assets/linkedin.png" alt="LinkedIn Logo" class="contact-logo">
            LinkedIn
        </a>
    </p>
    <p>
        <a href="mailto:yudhoprameswara@gmail.com">
            <img src="/assets/email.png" alt="Email Logo" class="contact-logo">
            Email
        </a>
    </p>
    <form action="">
        <label for="Name">Name</label>
        <input type="text" name="name" id="name">
        <label for="Email">Email</label>
        <input type="text" name="email" id="email">
        <label for="Message">Message</label>
        <textarea name="message" id="message"></textarea>
        <input type="submit" value="Send Message">
    </form>
</div>
