/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container for the contact form */
.contact-container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.5s;
}

/* Title and Paragraph styles */
.contact-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}


.contact-container p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-container img {
    width: 20px;
}
/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-container {
        width: 90%;
    }
}

.header-contact{
    display: flex;
    justify-content: space-between;
    color: black;
    
}