<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Basic Working Skill
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p><span>Effective Communication</span> Clearly express ideas and listen actively.</p>
            <p><span>Time Management</span> Prioritize tasks and manage schedules effectively.</p>
            <p><span>Teamwork</span> Collaborate efficiently and support team goals.</p>
            <p><span>Problem-Solving</span> Analyze issues and find practical solutions.</p>
            <p><span>Adaptability</span> Adjust quickly to changes and new challenges.</p>
            <p><span>Leadership</span> Guide, motivate, and inspire others.</p>
            <p><span>Basic Technology Skills</span> Utilize essential software and tools.</p>
        </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Graphic tools
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p><span>Adobe Photoshop</span> Create and edit graphics, retouch images, and design visual content.</p>
            <p><span>Adobe Premiere Pro</span> Edit and produce high-quality video content with advanced tools and features.</p>
            <p><span>Clip Studio Paint</span> Illustrate and paint digital art, create comics, and work with animation.</p>
            <p><span>Canva</span> Design engaging graphics, social media posts, and presentations with user-friendly templates.</p>
        </div>

    </div>
  
  </div>
